<div>
    <canvas id="myChart"></canvas>
</div>
<div>
    <p>
        
    </p>
</div>
<script>



   

</script>
  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    

    var dates = [@Html.Raw(Json.Encode(ViewBag.dates))];
    var DeletedCount = [@Html.Raw(Json.Encode(ViewBag.DeletedCount))];
    var ApprovedCount = [@Html.Raw(Json.Encode(ViewBag.ApprovedCount))];
    var ClosedCount = [@Html.Raw(Json.Encode(ViewBag.ClosedCount))];
    var OngoingCount = [@Html.Raw(Json.Encode(ViewBag.OngoingCount))];
    var NewCount = [@Html.Raw(Json.Encode(ViewBag.NewCount))];
    var ToBeAccepetdCount = [@Html.Raw(Json.Encode(ViewBag.ToBeAccepetdCount))];






    const data = {
        labels: dates[0],
        datasets: [{
            label: 'Deleted',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: DeletedCount[0],
        },
            {
                label: 'Approved',
                backgroundColor: 'rgb(0,192, 0)',
                borderColor: 'rgb(0,192, 0)',
                data: ApprovedCount[0],
            },
            {
                label: 'Closed',
                backgroundColor: 'rgb(128, 128, 128)',
                borderColor: 'rgb(128,128, 128)',
                data: ClosedCount[0],
            },
            {
                label: 'Ongoing',
                backgroundColor: 'rgb(0, 32, 255)',
                borderColor: 'rgb(0, 32, 255)',
                data: OngoingCount[0],
            },
            {
                label: 'New',
                backgroundColor: 'rgb(80, 208, 255)',
                borderColor: 'rgb(80, 208, 255)',
                data: NewCount[0],
            },
            {
                label: 'To be Accepted',
                backgroundColor: 'rgb(90, 255, 128)',
                borderColor: 'rgb(90, 255, 128)',
                data: ToBeAccepetdCount[0],
            },

        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Tasks'
                }
            },

            scales: {
                y: {
                    beginAtZero: true
                    ,
                    title: {
                        display: true,
                        text: 'Count'
                    }
                }
            }

        },

    };
</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
