<div>
    <canvas id="myChart"></canvas>
</div>
<div>
    <p>
        @ViewBag.REP

        @ViewBag.STATUS
        @ViewBag.NUM[2]
        
    </p>
</div>
<script>



   

</script>
  

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var num1 = @Html.Raw(Json.Encode(ViewBag.REP));
    var status = [@Html.Raw(Json.Encode(ViewBag.STATUS))];
    var ct = [@Html.Raw(Json.Encode(ViewBag.CT))];
    var chartData = [@Html.Raw(Json.Encode(ViewBag.Data))];
    var DateCount = [@Html.Raw(Json.Encode(ViewBag.DateCount))];
    console.log(chartData);
  
    console.log(DateCount);
    debugger;
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',

    ];
    
    
    for (const num of DateCount) {
        console.log(num);
    }

    const data = {
        labels: ct[0],
        datasets: [{
            label: 'Deleted',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: DateCount[0],
        }
            
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Tasks'
                }
            },

            scales: {
                y: {
                    beginAtZero: true
                    ,
                    title: {
                        display: true,
                        text: 'Count'
                    }
                }
            }

        },
        
    };
</script>
<script>
    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
